<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
</head>
<body>
<h2>Add FAQ</h2>
<form action="#" th:action="@{/customer/save}" th:object="${customer}" method="post">
    <table >
        <tr>
            <td>Customer number</td>
            <td><input type="number" th:field="*{customerNumber}"/></td>
        </tr>
        <tr>
            <td>Customer name</td>
            <td><input type="text" th:field="*{customerName}"/></td>
        </tr>
        <tr>
            <td>Last name</td>
            <td><input type="text" th:field="*{contactLastName}"/></td>
        </tr>
        <tr>
            <td>First name</td>
            <td><input type="text" th:field="*{contactFirstName}"/></td>
        </tr>
        <tr>
            <td>Phone</td>
            <td><input type="text" th:field="*{phone}"/></td>
        </tr>
        <tr>
            <td>Address line 1</td>
            <td><input type="text" th:field="*{addressLine1}"/></td>
        </tr>
        <tr>
            <td>Address line 2</td>
            <td><input type="text" th:field="*{addressLine2}"/></td>
        </tr>
        <tr>
            <td>City</td>
            <td><input type="text" th:field="*{city}"/></td>
        </tr>
        <tr>
            <td>State</td>
            <td><input type="text" th:field="*{state}"/></td>
        </tr>
        <tr>
            <td>Postal code</td>
            <td><input type="text" th:field="*{postalCode}"/></td>
        </tr>
        <tr>
            <td>Country</td>
            <td><input type="text" th:field="*{country}"/></td>
        </tr>
        <tr>
            <td>SaleEmpNumber</td>
            <td><input type="text" th:field="*{salesRepEmployeeNumber}"/></td>
        </tr>
        <tr>
            <td>Credit limit</td>
            <td><input type="text" th:field="*{creditLimit}"/></td>
        </tr>
        <tr>
            <td>Birthday</td>
            <td><input type="text" th:field="*{birthday}"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit"/></td>
            <td><input type="reset" value="Back"/></td>
        </tr>
    </table>

</form>
</body>
</html>